body{
	background-image: url('../img/pozadina.png');
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
}
@font-face {
    font-family: cartoon;
    src: url(../fonts/cartoon.otf);
}
@font-face {
    font-family: evil;
    src: url(../fonts/evil.ttf);
}
header{
	height:100vh;
	background-image: url("../img/banner.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}
img{
	opacity: 0.8;
}
.kontejner{

	padding:20px;
}
.col-md-3,.col-sm-4,.col-xs-6{
	border: 1px solid black;
	padding:0;
	
}
.prvi{
	border-right-color:rgba(255,255,255,0);
	border-bottom-color: rgba(255,255,255,0);
}
h1{
	font-family: evil;
	font-size: 2em;
	color:rgba(255,255,255,0.6);
}
p{
	font-family: 'Coming Soon', cursive;
	color:rgba(255,255,255,0.7);
	font-size: 1.1em;
}
a:link{
	color:#FFFFFF;
}
a:visited{
	color:rgba(255,255,255,0.5);
}
a:hover{
	text-decoration: none;
	/*text-transform: 1,2em;*/
	font-size: 1.2em;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}
header h1 {
	font-family: cartoon;
	text-align: center;
	font-size: 7em;
	color:#000000;
}
.text{
	position:relative;
	top:40%;
}
.riknuli{
	position:absolute;
	top:0;
	left:0;
	padding-left: 15px;
}
.reaper{
	z-index: 1;
}
.reaper > img{

	width:400px;
	height:400px;
}
.reaper:hover{
	translate:1940px;
}

/*-----ANIMATIONS-----*/
@keyframes reaper{
	
}
#snow{
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
